<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Q4jE6j8xi-QWNcmrn8E7Pm1KqPKWU1E</string>
	<key>GCM_SENDER_ID</key>
	<string>741053167787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myflutterapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-38e17</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-38e17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741053167787:ios:5fd083e626ccac43001fee</string>
</dict>
</plist>